.DS_Store
__pycache__/
*.pyc

/.lake/
/lakefile.olean
/docbuild/.lake/
/docbuild/lakefile.olean
/versobuild/.lake/
/versobuild/lakefile.olean
/versobuild/_out/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv
